@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(0, 137, 150);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 137, 150, 0.7);
}

/* Track */
::-webkit-scrollbar {
  width: 13px;
  height: 8px;
}
/*

*/


.bodyimage{
         
     background-position: center;
  background-attachment: fixed;
  background-size:cover;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#preloader{
     background: #000
    url("My-Web-Page/loader.gif") no-repeat center center;
    position: fixed;
    width: 100%;
    height: 100vh;
   background-size: 15%;
    z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    top: 0%;
    left: 0%;
  

}




header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    display: flex;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}





.planet{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.planet .container{
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 700px;
    margin-top: 50px;
}
.planetEarth{
    position: relative;
    min-width: 50%;
    height: 10vh;
    justify-content: center;
    
    
}



.planetEarth .loader {

    position: relative;
    width: 130px;
    height: 130px;
    border: radius 50%;
    animation: animation 4s linear infinite;
}

@keyframes  animation
{
0%
{
    transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg);
}
}
.planetEarth .loader:before 
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background: linear-gradient(to top,transparent,rgba(0,255,249,0.4));
background-size: 200px 360px;
background-repeat: no-repeat;
border-top-left-radius: 200px;
border-bottom-left-radius: 200px;
}

.planetEarth .loader:after 
{
content: '';
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%);
width: 10px;
height: 10px;
background: #00fff9;
border-radius: 50%;
z-index: 10;
box-shadow:0 0 10px #00fff9,
           0 0 20px #00fff9,
           0 0 30px #00fff9,
           0 0 40px #00fff9,
           0 0 50px #00fff9,
           0 0 60px #00fff9,
           0 0 70px #00fff9,
           0 0 80px #00fff9,
           0 0 90px #00fff9,
           0 0 100px #00fff9 ;
           }
           .planetEarth .loader span{

            position: absolute;
            top: 10px;
            left: 10px;
             right:10px ;
             bottom :10px;
             background: #182357;
             border-radius: 50%;
           }
           .earth{
            position: absolute;
            width: 340px;
            height: 340px;
            background: url(earth.jpg);
            border-radius: 50%;
            background-size: cover;
           
        box-shadow: inset 0 0 20px #03a9f4,
                          0 0 20px #03a9f4;  
    animation: animateearth 20s linear infinite;
    }







.earth{
    position: absolute;
    width: 110px;
    height: 110px;
    background: url(card/earthh.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #03a9f4,
                        0 0 120px #03a9f4;
    animation: animateEarth 20s linear infinite;
}
@keyframes animateEarth{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 360%;


    }
}











header #menu-icon   .fa-bars {
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 900;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.05);
    cursor: pointer;
    border-radius: 10%;
}
header #menu-icon .fa-bars:hover{
    color: #149DDD;
}
header .fa-times{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(280px, -10px);
}



 












nav#sidebar{
    position: fixed;
    left: -30%;
    top: 0%;
    width: 30%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255,128,0,0.5);
    transition: .2s;
    z-index: 10;
    overflow: hidden;

}
#sidebar.show{
    left: 0%;
}

nav#sidebar .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
nav#sidebar .profile .img-box{
    width:50%;
    height: 30%;
    margin-top: 0px;
    cursor: pointer;
    position: relative;
    
    
}


nav#sidebar .profile .img-box img{
    width: 100%;
    object-fit: cover;
   
    
}
nav#sidebar .profile .img-box img:hover{
   z-index: 1;
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transform: scale(1.05);
   
    
}
nav#sidebar .profile .text{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
nav#sidebar .profile .text h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
     text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;


}







.bigtext h2{

position: absolute;

transform: translate(-50%, -50%);
font-size: 50px;
margin-left: 285px;


}


.bigtext h2:nth-child(1){


color: transparent;
-webkit-text-stroke: 2px #03a9f4;

}

 .bigtext h2:nth-child(2){


color: #03a9f4;
animation: animate 4s ease-in-out infinite;
}

@keyframes  animate {

    0%,100%{


         clip-path: polygon(10% 19%, 15% 44%, 32% 18%,
         54% 60%, 70% 61%, 84% 59%, 100% 52%,
         100% 100%, 0% 100%);

    }

    50%{


         clip-path: polygon(0% 10%, 16% 65%, 19% 66%,
         51% 10%, 67% 50%, 84% 20%, 100% 46%,
         100% 10%, 10% 19%);

    }
}









nav#sidebar li{
    list-style: none;
    display: flex;
}
nav#sidebar li a:hover{
    color: #149DDD;
}
nav#sidebar li a{
    color: #ffffff;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0px 100px;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
nav#sidebar li a .fas{
    margin: 10px;
}




























ul{
  display: flex;
  
   padding: 10px;
   
   
  
}
ul li{
  position: relative;
  display: block;
  color: #666;
   width: 34px;
  height: 34px;
  font-size: 27px;
  background: #171515;
  line-height: 10px;
  border-radius: 50%;
  margin: 0 14px;
  cursor: pointer;
  transition: .5s;
  padding: 3.5px;

}



ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
ul li:nth-child(1):before{
  background: #4267B2;
}
ul li:nth-child(2):before{
  background: #1DA1F2;
}
ul li:nth-child(3):before{
  background: #E1306C;
}
ul li:nth-child(4):before{
  background: #2867B2;
}
ul li:nth-child(5):before{
  background: #ff0000;
}
ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
ul li:nth-child(4):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
ul li:nth-chil(4)hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
} */

















body{
  
  background-color: #c13b17; 
  

}

 p {
    content: attr(data-text);
  border-right: solid 5px rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: cursive;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  
  text-transform: uppercase;
    font-family: consolas;
   
   }



  










/* Animation */
p {
  animation: animated-text 4s linear 1s 1 normal both,
             animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 935px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}







body{background:black;
margin-top:150px;
padding: 3px;
margin-left:407px;}

#typing {

            width: 0ch;
            color: white;
            float: left;
            font-family: sans-serif;
            font-weight:bold;
            font-size: 60px;
            overflow: hidden;
            white-space: nowrap;
            animation: typing 5s steps(22) 1s infinite alternate;
        }
        #typing span{
        color:red;}

        #crow {
            float: left;

      color: white;
            font-family: consolas;
            font-weight:bold;
            font-size: 60px;
            animation: crow 0.5s linear 0s infinite;
        }
        @keyframes typing {
            from {
                width: 0ch;
            }
            to {
                width: 25ch;
            }
        }
        @keyframes crow {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
















#arrow{
    padding: 20px;

    border-radius:50%;
    cursor: pointer;
    display: none;
}
.arrow-left{
    position: absolute;
    padding: 15px; /* Arrow-left size */
    box-shadow: 1px -1px 0 1px plum inset;
    -webkit-box-shadow: 2px -2px plum inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    transition: 0.2s;
    }
 .arrow-left:hover {
    box-shadow: 2px -2px 0 2px orchid inset;
    -webkit-box-shadow: 10px -10px orchid inset;
    }
    .arrow-left { 
      top:3px;
      margin:2px;
      margin-left:313px;
      transform: rotate(45deg);
}
    
 .copyright{
     position: relative;
    bottom: -13.2%;
     padding: 10px 45px;
     text-align: center;
     background-color: rgb(111, 101, 101);
 }
 .copyright p{
     color: black;
 }
 .copyright p span{
    color: rgb(0, 166, 255);
}
.copyright p span:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}


































.night{
  position: absolute;/* position: relative; */
  width: 50%;
  height: 50%;
  transform: rotateZ(40deg);
}

.star{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #a81b08);
  animation: tail 3s ease-in-out infinite,
             falling 3s ease-in-out infinite;
}

@keyframes tail{
  0%{
    width: 0;
  }
  30%{
    width: 100px;
  }
  100%{
    width: 0;
  }
}

@keyframes falling{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);
  }
}

.star::before, .star::after{
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining{
  0%{
    width: 0;
  }
  50%{
    width: 30px;
  }
  100%{
    width: 0;
  }
}

.star::after{
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1){
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after{
  animation-delay: 1s;
}

.star:nth-child(2){
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after{
  animation-delay: 1.2s;
}

.star:nth-child(3){
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after{
  animation-delay: 1.4s;
}

.star:nth-child(4){
  top: calc(50% - -50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after{
  animation-delay: 1.6s;
}

.star:nth-child(5){
  top: calc(50% - -100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after{
  animation-delay: 1.8s;
}
      
